body {
  background-color: #010922;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #f6f1f1;
}

.page-wrapper {
  z-index: 3;
  transition: opacity 0.2s;
  position: relative;
}

.section-padding {
  padding-left: 25px;
  padding-right: 25px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0);
}

.container {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
}

.main-logo {
  max-width: 200px;
  margin-top: 32px;
}

.nav-menu {
  grid-column-gap: 0px;
  grid-row-gap: 30px;
  margin-top: 0px;
  padding-top: 0;
  display: flex;
}

.content-wrapper {
  transition: opacity 0.2s;
  display: flex;
  flex-direction: column;
}

.cta-section.section-padding {
  margin-bottom: 0;
  padding-bottom: 40px;
}

@media screen and (max-width: 991px) {
  h1 {
    margin-top: 10px;
    font-size: 60px;
  }

  .short-p {
    font-size: 15px;
  }

  .subtitle {
    font-size: 15px;
  }

  .heading-1 {
    font-size: 70px;
  }

  .heading-2,
  .short-h2 {
    font-size: 40px;
  }

  .subheader,
  .subheader.teal,
  .subheader.gold {
    text-align: left;
    font-size: 20px;
  }

  .subheader.black {
    font-size: 20px;
  }

  .subheader.name {
    font-size: 18px;
  }

  .container.center {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  ._2-col-grid {
    grid-column-gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  ._3-col-grid {
    grid-column-gap: 20px;
    grid-template-rows: 1fr;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .button {
    margin-right: 21px;
    padding-left: 28px;
    padding-right: 28px;
    font-size: 18px;
    line-height: 18px;
  }

  .button.join {
    margin-right: 0;
  }

  .logo-wrapper {
    margin-top: 10px;
    padding: 30px 50px;
  }

  .featured-logo {
    max-width: 125px;
  }

  .card-wrapper {
    width: 225px;
    height: 400px;
  }

  .profile_img {
    padding-top: 0;
    padding-bottom: 0;
  }

  .cta-wrapper {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .cta-h2.center {
    font-size: 60px;
  }

  .circle-blur-right {
    left: -42%;
  }

  .circle-blur-left {
    bottom: 344px;
    right: -287px;
  }

  .circle-blur-bottom {
    bottom: -45%;
    left: 66%;
  }

  .icon-wrapper {
    height: 15%;
    display: block;
  }
}

.container.center {
  width: auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.cta-wrapper {
  width: 100%;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  background-image: linear-gradient(305deg, #7e7ed5, #39cccc);
  border-radius: 40px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 0;
  display: flex;
}

.subheader {
  color: #f6f1f1;
  text-align: left;
  letter-spacing: 1px;
  text-indent: 0;
  text-transform: uppercase;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
}

.cta-h2.center {
  max-width: 650px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  font-size: 60px;
  display: flex;
}

.cta-h2 {
  max-width: 500px;
  text-align: center;
}

.button.join {
  margin-right: 0;
}

.button {
  color: #f6f1f1;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #7e7ed5;
  border-radius: 20px;
  margin-top: 30px;
  margin-right: 40px;
  padding: 12px 35px;
  font-size: 20px;
  transition: background-color 0.35s;
  text-decoration: none;
}

.button:hover {
  color: #000;
  background-color: #8ad1d1;
}

.button.shadow-button {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #8ad1d1;
}

.button.shadow-button:hover {
  color: #7e7ed5;
  background-color: #8ad1d1;
}