{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="text-dark">My Projects</h1>
        
        {% if projects %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td>
                        <a class="text-dark" href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                    </td>
                    <td>{{ project.tasks.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div>
            <a href="{% url 'create_project' %}">
                <button class="btn btn-info">Create a Project</button>            
            </a>
        </div>

        {% else %}
        <p>
            You are not assigned to any projects
        </p>
        {% endif %}
    </div>
{% endblock content %}
